
*{margin: 0;
padding: 0;
box-sizing: border-box;}


/*Utilities*/

.container {max-width: 900px;
            margin:auto;
            background-color:aqua;}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

/*Colors

Rosa titolo rgb(228,56,128)*/



body{font-family: 'Fredoka', sans-serif;}

h1{font-size: 600;
color: rgb(228,56,128);
text-align: center;}

h3{display: inline-block;}

p {font-size: 100;
    text-align: center;}

.float {float: left;}