
*{margin: 0;
padding: 0;
box-sizing: border-box;}


/*Utilities*/

.container {max-width: 1800px;}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

/*Colors*/


body{font-family: 'Fredoka', sans-serif;}

h1{font-size: 600;
color: rgb(228,56,128);
text-align: center;}

p {font-size: 100;}

