
*{margin: 0;
padding: 0;
box-sizing: border-box;}


/*Utilities*/

.container {max-width: 70%;
            height: 70px;
            background-color:aqua;
            margin: auto;}



         
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}


/*Colors

Rosa titolo rgb(228,56,128)*/

img {height: 80px;
width: auto;
float: left;}

body{font-family: 'Fredoka', sans-serif;
}

h1{font-size: 600;
color: rgb(228,56,128);
text-align: center;}

h3{display: inline-block;
margin-top: 10px;}

p {font-size: 100;
text-align: center;}

span {font-size: 16px ;}
   



.float {
float: left;
width: auto;
height: 80px;
background-color: black;
font-weight: 200;
color:white;
}

    

section {color:white;
width:30%;} 